.death-star-body {
    background-image: url("../images/death-star.jpg");
    flex: 3;
    display: flex;
    height:100%;
}

.navbar {
    margin-bottom: 0px;
}
html,
body,
.deathStarContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.footer > .well {
    margin-bottom: 0px;
    background-color: #333;
    border-color: #333;
}